<div class="app-user-detail">
	<div class="main-inner">
		<h2>用户详情</h2>
		<div class="user-detail">
			<div class="row">
				<div class="col-lg-2">用户名：</div>
				<!-- 这个div在中间了 -->
				<div class="col-lg-8">{{user.username}}</div>
			</div>
			<div class="row">
				<div class="col-lg-2">性&emsp;别：</div>
				<!-- 这个div在中间了 -->
				<div class="col-lg-8">{{user.sex}}</div>
			</div>
			<div class="row">
				<div class="col-lg-2">电&emsp;话：</div>
				<!-- 这个div在中间了 -->
				<div class="col-lg-8">{{user.telephone}}</div>
			</div>
			<div class="row">
				<div class="col-lg-2">密&emsp;码：</div>
				<!-- 这个div在中间了 -->
				<div class="col-lg-8">{{user.password}}</div>
			</div>
			<div class="row">
				<div class="col-lg-2">简&emsp;介：</div>
				<!-- 这个div在中间了 -->
				<div class="col-lg-8">{{user.info}}</div>
			</div>
		</div>
	</div>
</div>